@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: CFAnarchy Regular;
  src: url(Fonts/CFAnarchy-Regular.ttf); }

@font-face {
  font-family: CandyShopPersonalUse;
  src: url(Fonts/CandyShopPersonalUse.ttf); }