.parallaxParent {
  height: 100vh;
  overflow: hidden;
  margin: 0px; }

.parallaxParent > * {
  height: 150%;
  position: relative;
  top: -110%; }

@font-face {
  font-family: CFAnarchy Regular;
  src: url(Fonts/CFAnarchy-Regular.ttf); }

@font-face {
  font-family: CandyShopPersonalUse;
  src: url(Fonts/CandyShopPersonalUse.ttf); }

body {
  margin: 0px;
  padding: 0px; }

header {
  background-image: url(../Images/pagetop.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 330px;
  z-index: -1;
  margin-top: -60px; }

a:link, a:visited {
  color: #e00004;
  text-decoration: none; }

a:hover, a:active {
  color: #5901d5;
  text-decoration: none; }

header h1 a:link, header h1 a:visited {
  color: #bbb;
  padding: 10px;
  font-family: 'AllAges';
  font-size: 45px;
  position: absolute;
  z-index: 5;
  margin-top: 35px; }

header h1 a:hover, header h1 a:active {
  color: #444;
  padding: 10px;
  font-family: 'AllAges';
  font-size: 45px;
  position: absolute;
  z-index: 5;
  margin-top: 35px; }

h1, h2 {
  margin: 0px; }

nav {
  color: #e00004;
  font-family: CandyShopPersonalUse;
  font-size: 30px;
  margin-top: -200px;
  margin-left: 50px;
  text-shadow: 1px 1px #fff;
  z-index: 10;
  box-shadow: 7px 7px #fff;
  width: 60%;
  transform: skewX(15deg);
  background-color: #0050CB; }

nav ul {
  list-style: none; }

#parallax1 {
  margin-top: -400px;
  height: 1100px; }

#parallax1 div {
  background-image: url(../Images/MobileLargenoback.png);
  background-repeat: no-repeat;
  background-color: #111111;
  z-index: -5; }

#parallax2 {
  margin-top: -250px;
  height: 1100px; }

#parallax2 div {
  background-image: url(../Images/MobileLargenoback2.png);
  background-repeat: no-repeat;
  background-color: #111111;
  z-index: -5; }

#parallax3 {
  margin-top: -250px;
  height: 1100px; }

#parallax3 div {
  background-image: url(../Images/MobileLargenoback3.png);
  background-repeat: no-repeat;
  background-color: #111111;
  z-index: -5; }

#parallax4 {
  margin-top: -250px;
  height: 1100px; }

#parallax4 div {
  background-image: url(../Images/MobileLargenoback4.png);
  background-repeat: no-repeat;
  background-color: #111111;
  z-index: -5; }

.paper, .spacer {
  background-image: url(../Images/pagetop.png);
  width: 100%;
  height: 330px;
  z-index: 10;
  margin-top: 0px;
  margin-top: -16px; }

.spacer .s0 .paper {
  margin-top: -250px; }

.spacer .s0 {
  margin: -10px;
  padding: 20px; }

#spacer1 h2 {
  padding: 20px;
  font-family: CandyShopPersonalUse;
  color: #e00004;
  font-size: 50px;
  text-shadow: 1px 1px #444; }

@media (min-width: 860px) {
  body {
    margin: 0px;
    padding: 0px; }
  header {
    background-image: url(../Images/pagetop.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 330px;
    z-index: -1;
    margin-top: -60px; }
  a:link, a:visited {
    color: #e00004;
    text-decoration: none; }
  a:hover, a:active {
    color: #5901d5;
    text-decoration: none; }
  header h1 a:link, header h1 a:visited {
    color: #bbb;
    padding: 30px;
    font-family: 'AllAges';
    font-size: 70px;
    position: absolute;
    z-index: 5;
    margin-top: 35px; }
  header h1 a:hover, header h1 a:active {
    color: #444;
    padding: 30px;
    font-family: 'AllAges';
    font-size: 70px;
    position: absolute;
    z-index: 5;
    margin-top: 35px; }
  h1, h2 {
    margin: 0px; }
  nav {
    color: #e00004;
    font-family: CandyShopPersonalUse;
    font-size: 50px;
    margin-top: -220px;
    margin-left: 50px;
    text-shadow: 1px 1px #fff;
    z-index: 10;
    box-shadow: 7px 7px #fff;
    width: 20%;
    transform: skewX(15deg);
    background-color: #0050CB; }
  nav ul {
    list-style: none; }
  #parallax1 {
    margin-top: -400px;
    height: 1100px; }
  #parallax1 div {
    background-image: url(../Images/MobileLargenoback.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax2 {
    margin-top: -250px;
    height: 1100px; }
  #parallax2 div {
    background-image: url(../Images/MobileLargenoback2.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax3 {
    margin-top: -250px;
    height: 1100px; }
  #parallax3 div {
    background-image: url(../Images/MobileLargenoback3.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax4 {
    margin-top: -250px;
    height: 1100px; }
  #parallax4 div {
    background-image: url(../Images/MobileLargenoback4.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  .paper, .spacer {
    background-image: url(../Images/pagetop.png);
    width: 100%;
    height: 330px;
    z-index: 10;
    margin-top: 0px;
    margin-top: -16px; }
  .spacer .s0 .paper {
    margin-top: -250px; }
  .spacer .s0 {
    margin: -10px;
    padding: 20px; }
  #spacer1 h2 {
    padding: 20px;
    font-family: CandyShopPersonalUse;
    color: #e00004;
    font-size: 50px;
    text-shadow: 1px 1px #444; } }

@media (min-width: 480px) {
  body {
    margin: 0px;
    padding: 0px; }
  header {
    background-image: url(../Images/pagetop.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 330px;
    z-index: -1;
    margin-top: -60px; }
  a:link, a:visited {
    color: #e00004;
    text-decoration: none; }
  a:hover, a:active {
    color: #5901d5;
    text-decoration: none; }
  header h1 a:link, header h1 a:visited {
    color: #bbb;
    padding: 30px;
    font-family: 'AllAges';
    font-size: 70px;
    position: absolute;
    z-index: 5;
    margin-top: 35px; }
  header h1 a:hover, header h1 a:active {
    color: #444;
    padding: 30px;
    font-family: 'AllAges';
    font-size: 70px;
    position: absolute;
    z-index: 5;
    margin-top: 35px; }
  h1, h2 {
    margin: 0px; }
  nav {
    color: #e00004;
    font-family: CandyShopPersonalUse;
    font-size: 50px;
    margin-top: -220px;
    margin-left: 50px;
    text-shadow: 1px 1px #fff;
    z-index: 10;
    box-shadow: 7px 7px #fff;
    width: 20%;
    transform: skewX(15deg);
    background-color: #0050CB; }
  nav ul {
    list-style: none; }
  #parallax1 {
    margin-top: -400px;
    height: 1100px; }
  #parallax1 div {
    background-image: url(../Images/MobileLargenoback.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax2 {
    margin-top: -250px;
    height: 1100px; }
  #parallax2 div {
    background-image: url(../Images/MobileLargenoback2.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax3 {
    margin-top: -250px;
    height: 1100px; }
  #parallax3 div {
    background-image: url(../Images/MobileLargenoback3.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  #parallax4 {
    margin-top: -250px;
    height: 1100px; }
  #parallax4 div {
    background-image: url(../Images/MobileLargenoback4.png);
    background-repeat: no-repeat;
    background-color: #111111;
    z-index: -5; }
  .paper, .spacer {
    background-image: url(../Images/pagetop.png);
    width: 100%;
    height: 330px;
    z-index: 10;
    margin-top: 0px;
    margin-top: -16px; }
  .spacer .s0 .paper {
    margin-top: -250px; }
  .spacer .s0 {
    margin: -10px;
    padding: 20px; }
  #spacer1 h2 {
    padding: 20px;
    font-family: CandyShopPersonalUse;
    color: #e00004;
    font-size: 50px;
    text-shadow: 1px 1px #444; } }
