@import 'partials/variables';
@import 'partials/paralax';
@import 'partials/font';
@import 'partials/spring';

body{
	margin:0px;
	padding: 0px;
}

header{
	background-image: url(../Images/pagetop.png); 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 330px; 
	z-index: -1; 
	margin-top: -60px;
} 

a:link, a:visited{
	color:$red; 
	text-decoration: none;
}

a:hover, a:active{
color:$purple; 
	text-decoration: none;
}

header h1 a:link, header h1 a:visited{
	color:$lightgrey; padding: 10px; font-family:'AllAges'; font-size: 45px; position: absolute; z-index: 5; margin-top: 35px;
}
 
header h1 a:hover, header h1 a:active{
	color:$darkgrey; padding: 10px; font-family:'AllAges'; font-size: 45px; position: absolute; z-index: 5; margin-top: 35px;
}

h1, h2{
	margin: 0px;
}

nav{
	color:$red; 
	font-family: CandyShopPersonalUse; 
	font-size: 30px; 
	margin-top: -200px; 
	margin-left: 50px; 
	text-shadow: 1px 1px #fff; 
	z-index: 10; 
	box-shadow: 7px 7px #fff; 
	width:60%; 
	transform: skewX(15deg); 
	background-color:$blue; 
}
 
nav ul{
	list-style: none;
}

#parallax1{
	margin-top: -400px;
	height: 1100px;
}

#parallax1 div{
	background-image: url(../Images/MobileLargenoback.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax2{
	margin-top: -250px; height: 1100px;
}

#parallax2 div{
	background-image: url(../Images/MobileLargenoback2.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax3{
	margin-top: -250px; height: 1100px;
}

#parallax3 div{
	background-image: url(../Images/MobileLargenoback3.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax4{
	margin-top: -250px; height: 1100px;
}

#parallax4 div{
	background-image: url(../Images/MobileLargenoback4.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

.paper, .spacer{
	background-image: url(../Images/pagetop.png);
	width: 100%; height: 330px; z-index: 10; margin-top: 0px; margin-top: -16px;
}

.spacer .s0 .paper{
	margin-top: -250px;
}

.spacer .s0{
	margin: -10px;
	padding: 20px;
}

#spacer1 h2, #spacer2 h2, #spacer3 h2, #spacer4 h2{
	padding:20px;
	font-family: CandyShopPersonalUse;
	color: $red;
	font-size: 50px;
	text-shadow: 1px 1px #fff; 
}

.herosection{
	background-color: #005d03; width: 80%; height: 700px; margin: -800px 5% 100px; z-index: 5; transform: skewX(5deg); box-shadow: 4px 4px #009f00;
}

@media(min-width:860px){
body{
	margin:0px;
	padding: 0px;
}

header{
	background-image: url(../Images/pagetop.png); 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 330px; 
	z-index: -1; 
	margin-top: -60px;
} 

a:link, a:visited{
	color:$red; 
	text-decoration: none;
}

a:hover, a:active{
color:$purple; 
	text-decoration: none;
}

header h1 a:link, header h1 a:visited{
	color:$lightgrey; padding: 30px; font-family:'AllAges'; font-size: 70px; position: absolute; z-index: 5; margin-top: 35px;
}
 
header h1 a:hover, header h1 a:active{
	color:$darkgrey; padding: 30px; font-family:'AllAges'; font-size: 70px; position: absolute; z-index: 5; margin-top: 35px;
}

h1, h2{
	margin: 0px;
}

nav{
	color:$red; 
	font-family: CandyShopPersonalUse; 
	font-size: 50px; 
	margin-top: -220px; 
	margin-left: 50px; 
	text-shadow: 1px 1px #fff; 
	z-index: 10; 
	box-shadow: 7px 7px #fff; 
	width:10%; 
	transform: skewX(15deg); 
	background-color:$blue; 
}
 
nav ul{
	list-style: none;
}

#parallax1{
	margin-top: -400px;
	height: 1100px;
}

#parallax1 div{
	background-image: url(../Images/MobileLargenoback.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax2{
	margin-top: -250px; height: 1100px;
}

#parallax2 div{
	background-image: url(../Images/MobileLargenoback2.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax3{
	margin-top: -250px; height: 1100px;
}

#parallax3 div{
	background-image: url(../Images/MobileLargenoback3.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax4{
	margin-top: -250px; height: 1100px;
}

#parallax4 div{
	background-image: url(../Images/MobileLargenoback4.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

.paper, .spacer{
	background-image: url(../Images/pagetop.png);
	width: 100%; height: 330px; z-index: 10; margin-top: 0px; margin-top: -16px;
}

.spacer .s0 .paper{
	margin-top: -250px;
}

.spacer .s0{
	margin: -10px;
	padding: 20px;
}

#spacer1 h2{
	padding:20px;
	font-family: CandyShopPersonalUse;
	color: $red;
	font-size: 50px;
	text-shadow: 1px 1px #fff; 
}
	
.herosection{
	background-color: #005d03; width: 80%; height: 650px; margin: -800px 5% 100px; z-index: 5; transform: skewX(5deg); box-shadow: 4px 4px #009f00; 
}
}

@media(min-width:480px){
body{
	margin:0px;
	padding: 0px;
}

header{
	background-image: url(../Images/pagetop.png); 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 330px; 
	z-index: -1; 
	margin-top: -60px;
} 

a:link, a:visited{
	color:$red; 
	text-decoration: none;
}

a:hover, a:active{
color:$purple; 
	text-decoration: none;
}

header h1 a:link, header h1 a:visited{
	color:$lightgrey; padding: 20px; font-family:'AllAges'; font-size: 50px; position: absolute; z-index: 5; margin-top: 35px;
}
 
header h1 a:hover, header h1 a:active{
	color:$darkgrey; padding: 20px; font-family:'AllAges'; font-size: 50px; position: absolute; z-index: 5; margin-top: 35px;
}

h1, h2{
	margin: 0px;
}

nav{
	color:$red; 
	font-family: CandyShopPersonalUse; 
	font-size: 35px; 
	margin-top: -220px; 
	margin-left: 50px; 
	text-shadow: 1px 1px #fff; 
	z-index: 10; 
	box-shadow: 7px 7px #fff; 
	width:50%; 
	transform: skewX(15deg); 
	background-color:$blue; 
}
 
nav ul{
	list-style: none;
}

#parallax1{
	margin-top: -400px;
	height: 1100px;
}

#parallax1 div{
	background-image: url(../Images/MobileLargenoback.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax2{
	margin-top: -250px; height: 1100px;
}

#parallax2 div{
	background-image: url(../Images/MobileLargenoback2.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax3{
	margin-top: -250px; height: 1100px;
}

#parallax3 div{
	background-image: url(../Images/MobileLargenoback3.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

#parallax5{
	margin-top: -250px; height: 1100px;
}

#parallax5 div{
	background-image: url(../Images/MobileLargenoback6.png); background-repeat: no-repeat; background-color:#111111; z-index: -5;
}

.paper, .spacer{
	background-image: url(../Images/pagetop.png);
	width: 100%; height: 330px; z-index: 10; margin-top: 0px; margin-top: -16px;
}

.spacer .s0 .paper{
	margin-top: -250px;
}

.spacer .s0{
	margin: -10px;
	padding: 20px;
}

#spacer1 h2{
	padding:20px;
	font-family: CandyShopPersonalUse;
	color: $red;
	font-size: 50px;
	text-shadow: 1px 1px #fff; 
}
	
.herosection{
	background-color: #005d03; width: 80%; height: 650px; margin: -800px 10% 100px; z-index: 5; transform: skewX(5deg); box-shadow: 4px 4px #009f00; 
}
}

@media(min-width:720px){
header h1 a:link, header h1 a:visited{
	color:$lightgrey; padding: 20px; font-family:'AllAges'; font-size: 50px; position: absolute; z-index: 5; margin-top: 35px;
}
 
header h1 a:hover, header h1 a:active{
	color:$darkgrey; padding: 20px; font-family:'AllAges'; font-size: 50px; position: absolute; z-index: 5; margin-top: 35px;
}

.herosection{
	background-color: #005d03; width: 85%; height: 650px; margin: -800px 7.5% 100px; z-index: 5; transform: skewX(5deg); box-shadow: 4px 4px #009f00; 
}
}